<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to capture photos and videos for your posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photo library to select photos and videos for your posts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone to record videos for your posts.</string>
</dict>
</plist>
